.header__inner{
    width: 1366px;
    height: 85px;
    display: flex;
    flex-direction: row;
    height: auto;
    align-items: stretch;
}
.header__logo {
    display: flex;
    height: 85px;
    margin-left: 200px;
    align-items: center;
}
.header__menu{
    display: flex;
    align-items: center;
}
.header__menu-nav{
    display: flex;
    justify-content: space-between;
    width: 396px;
    height: 24px;
    padding: 0;
    margin: 0;
    margin-left: 122px;
    align-items: center;
}
.header__menu-nav > li{
    display: inline;
}
.header__menu-nav > li:hover{
    text-decoration: underline;
    cursor: pointer;
}
.sign__in:hover{
    text-decoration: underline;
    cursor: pointer;
}
.header__button{
    display: flex;
    align-items: center;
}
.header__button-push{
    display: flex;
    justify-content: space-between;
    width: 197px;
    padding: 0;
    margin: 0;
    margin-left: 123px;
    align-items: center;
}
.header__button-push > li{
    display: inline;
}
.header__button-start{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 130px;
    height: 41px;
    background-color: #01996D;
    border-radius: 4px;
    color: white;
}
.container{
    position: absolute;
    height: 636px;
    background-image: url("BG.jpg"); 
    width: 100%;
    background-size: 100% 100%;
    position: relative;
    z-index: 1;
}
.first__block{
    position: absolute;
    width: 313px;
    height: 273px;
    top: 97px;
    left: 195px;
}
.heading__block{
    font-family: Georgia;
    color: #01996D;
    margin-bottom: 30px;
}
.first__text{
    margin: 0;
}
.first__text-push{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 161px;
    height: 46px;
    background: #01996D;
    border-radius: 4px;
    color: white;
    margin-top: 35px;
}
.description__heading{
    width: 415px;
    height: 112px;
    float: left;
    margin: 0; 
    color: #01996D;
    font-family: Georgia;
    line-height: 1.5;
}
.description{
    display: flex;
}
.description__subtitle{
    margin:0;
    margin-top: 119px;
}
.description__text{
    width: 400px;
    float:right;
    margin-left: 97px;
    margin-top: 151px;
}
.description__part{
    display: flex;
    flex-direction: column;
    margin-left: 195px;
}
.list{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.first__list, .second__list, .third__list{
    display: flex;
    flex-direction: column;
    width: 287px;
    height: 765px;
    margin-left: 85px;
}
.first__number, .second__number, .third__number{
    position: relative;
    z-index: 2;
    font-family: Georgia;
    color: rgba(1, 153, 109, 0.2);
    font-size: 138px;
    margin: 0;
}
.first__name, .second__name{
    position: absolute;
    margin-left: 75px;
    margin-top: 110px;
}
.third__name{
    position: absolute;
    margin-left: 113px;
    margin-top: 105px;
}
.first__text, .second__text, .third__text{
    margin-top: 20px;
}
.first__image, .second__image, .third__image{
    margin-top: 25px;
}
.first__image{
    position: relative;
}
.translition{
    position: absolute;
    z-index: 2;
    margin-left: 146px;
    margin-top: 456px;
}
.screen{
    width: 128px;
    height: 104px;
    margin-left: -3px;
    margin-top: 3px;
}
.screen-push{
    width: 137px;
    margin-left: 3px;
}
.screen__button{
    position: absolute;
    width: 135px;
    height: 104px;
    margin-left: 146px;
    margin-top: 456px;
}
.third__image{
    border-radius: 12px;
}
.first__list{
    margin-top: 30px;
}
.second__list{
    margin-top: 150px;
}
.third__list{
    margin-top: 50px;
}
.review__video{
    position: relative;
    width: 500px;
}
.review__video iframe {
  position: absolute;
  width: 636px;
  height: 366px;
  border-width: 0;
  outline-width: 0;
  margin-top: 163px;
  border-radius: 12px;
  box-shadow: none;
}
.review{
    display: flex;
    flex-direction: row;
    background: rgba(36, 88, 82, 1);
    height: 655px;
}
.review__block{
    margin-left: 147px;
    margin-right: 25px;
    margin-top: 220px;
}
.review__head{
    font-family: Georgia;
    color: white;
    line-height: 1.5;
}
.review__text{
    color: white;
}
.rewiev-push{
    display: flex;
    justify-content: center;
    align-items: flex-center;
    color: white;
    width: 170px;
    height: 43px;
    background: rgba(1, 153, 109, 1);
    border-radius: 4px;
    margin-top: 43px;
    
}
.last{
    display: flex;
    flex-direction: row;
}
.images{
    display: flex;
    position: relative;
    flex-direction: column;
    width: 691px;
}
.card{
    position: relative;
    width: 210px;
    height: 208px;
    margin-left: 195px;
    margin-top: 357px;
}
.last__image{
    position: absolute;
    width: 453px;
    height: 407px;
    margin-left: 238px;
    margin-top: 65px;
}
.last__block{
    margin-top: 85px;
    margin-left: 61px;
}
.our__product{
    margin: 0;
}
.last__head{
    font-family: Georgia;
    line-height: 1.5;
    color: #01996D;
}
.last__text-push{
    width: 161px;
    height: 46px;
    background: #01996D;
    color: white;
    margin-top: 25px;
    border-radius: 4px;
}
.last__text{
    width: 376px;
}
.ending{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    height: 454px;
    width: 100%;
    background: rgba(36, 88, 82, 1);
    color: white;
}
.ending__list{
    display: flex;
    flex-direction: column;
    line-height: 43px;
    padding: 0;
}
.ending__contain{
    margin-left: 195px;
}
.ending__list > li{
    list-style-type: none;
    color: white;
    text-decoration: none;
    width: 100px;

}
.ending__list > li:hover{
    text-decoration: underline;
    cursor: pointer;
}