.main__block {
	width: 800px;
	height: 434px;
	background: #FCFCFC;
	display: grid;
	grid-template-rows: 162px 162px; /* 3 строки */
  	grid-template-columns: 340px 340px;
  	grid-auto-flow: column; 
  	grid-row-gap: 30px;
  	grid-column-gap: 30px;
  	justify-content: center;
  	align-content: center;
}
@font-face{
	font-family: OpenSans;
	scr: url(../open_sens/OpenSans-Ligth.ttf);                    /**почему-то не получается подключить шрифты**/
}
@font-face{
	font-family: SansNarrow;
	scr: url(../sans_narrow/PTSansNarrow-Regular.ttf);
}
.first__block {
	display: flex;

}
.first__text__block{                             /**решил для каждого блока прописать стили, так как блоки со статьями могут быть изменчивы**/
	margin: 0 15px;
}
.first__picture {
	margin-left: 23px;
	margin-top:23px;
}
.first__heading__block{
	margin-bottom: 10px;
	font-family: SansNarrow;
}
.first__article__text{
	font-family: OpenSans;

}
.second__block {
	display: flex;

}
.second__text__block{
	margin: 0 15px;
}
.second__picture {
	margin-left: 23px;
	margin-top:23px;
}
.second__heading__block{
	margin-bottom: 10px;
	font-family: SansNarrow;
}
.second__article__text{
	font-family: OpenSans;

}
.third__block {
	display: flex;

}
.third__text__block{
	margin: 0 15px;
}
.third__picture {
	margin-left: 23px;
	margin-top:23px;
}
.third__heading__block{
	margin-bottom: 10px;
	font-family: SansNarrow;
}
.third__article__text{
	font-family: OpenSans;

}
.fourth__block {
	display: flex;

}
.fourth__text__block{
	margin: 0 15px;
}
.fourth__picture {
	margin-left: 23px;
	margin-top:23px;
}
.fourth__heading__block{
	margin-bottom: 10px;
	font-family: SansNarrow;
}
.fourth__article__text{
	font-family: OpenSans;

}



